.navbar-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.custom-navbar {
  padding: 0.75rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: none;
  color: var(--dark-gray) !important;
  background-color: var(--light-gray) !important;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 2rem !important; 
}

.rs-navbar-brand.navbar-logo {
  display: flex !important;
  align-items: center;
  gap: 0.75rem !important; 
}

.navbar-logo-image {
  width: 45px;
  height: auto;
  object-fit: contain;
  border-radius: 0 !important; 
}

.navbar-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--dark-gray);
  letter-spacing: -0.5px;
  display: inline-block;
}

.rs-nav {
  margin: auto;
}

.rs-dropdown-menu {
  background-color: var(--light-gray) !important;
  border: none !important;
}

.rs-dropdown-item {
  color: var(--dark-gray) !important;
  font-weight: 500;
  padding: 0.75rem 1.25rem !important;
}

.rs-dropdown-item:hover,
.rs-dropdown-item:focus {
  background-color: var(--light-gray) !important;
  color: black !important;
}
